extends layout

block content
  .row
    .container.col-md-8
      .page-header
       h1= film.title + " (" + film.year + ")"
       p= film.minutes+ " minutes"
       p= film.description
    .col-md-4.text-right
      .rating-box
        h3 
         |Average: 
         =stats.votes==0?stats.avg:stats.avg.toFixed(2)
        span Median: #{stats.median}
        br
        span Std. deviation: 
         =stats.votes==0?stats.std:stats.std.toFixed(2)
        br
        span Number of votes: #{stats.votes}
        br
        br
        p Your Rating:
        - var i=1
        while i<=5
          button.btn.btn-md.btn-rating(class=(i==film.rating?'btn-success':'') ,rate=i,filmid=film._id) #{i++}
  hr
  .container
    table.table.table-striped
      tr.row
        td.col-sm-6 Genre
        td.col-sm-6= film.genre.join(', ')
      tr.row
        td.col-sm-6 Director
        td.col-sm-6= film.director
      tr.row
        td.col-sm-6 Scenarist
        td.col-sm-6= film.scenarist
      tr.row
        td.col-sm-6 Country
        td.col-sm-6= film.country
      tr.row
        td.col-sm-6 Premiere
        td.col-sm-6= film.premiere.toLocaleDateString()
  hr
  if film.actors.length>0
      h2 Actors
      .container
        table.table.table-striped
          each actor, i in film.actors
              tr.row
                td.col-sm-6 #{actor.name}
                td.col-sm-6 #{actor.role}
  
  if user
    .text-left.col-sm-10
      #editGroup.btn-group(role='group', aria-label='')
        a.button#edit.btn.btn-primary.btn-lg(href='/films/edit/'+film._id,  name='edit', aria-label='Edit') Edit
        a.button#delete.btn.btn-danger.btn-lg.delete-film(href='#', data-id=film._id, aria-label='Delete') Delete

          
