extends layout

block content
    .page-header
      h1 Profile
    hr
    .container
      table.table.table-striped.table-bordered
        tr
          td Login
          td #{user.username}
        tr
          td Name
          td #{user.name}
        tr
          td Email
          td #{user.email}
    hr
    br
    h2 User statistics
    br
    .container
      table.table.table-striped.table-bordered
        tr
          td Films rated
          td #{user.filmsRated}
        tr
          td Films added
          td #{user.filmsAdded}
